<h1>Hello</h1>
<h1>{{compliments.content}}</h1>



<form action="/" method="post">
  <input name="compliment[content] type="text"" placeholder="Compliment"/>
  <button type="Submit">Add A Compliment</button>
</form>
